@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-200 antialiased;
  }
}

/* Custom Scrollbar for "Technical" look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}